@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">


    <div class="sidebar @sidebarStatus" style="z-index:5">
        <div class="burger-wrapper" @onclick="BurgerClicked">
            <i class="fa-solid fa-hamburger text-white"></i>

        </div>
            <div class="logo-container">
                <span>
                    Gate Gourmet
                </span>
            </div>
            <div class="menu">
                <ul>
                    <li style="display:block; height:50px; position:relative;">
                        <NavLink class="menu-item" href="/" Match="NavLinkMatch.All" ActiveClass="menu-item-active">
                            <div class="item-text">
                                <i class="fa-solid fa-plane"></i>
                                &nbsp;
                                <span>DY Short</span>
                            </div>
                        </NavLink>
                    </li>
                    <li style="display:block; height:50px; position:relative;">
                        <NavLink class="menu-item" href="/dy-long-flights" Match="NavLinkMatch.All" ActiveClass="menu-item-active">
                            <div class="item-text">
                                <i class="fa-solid fa-plane"></i>
                                &nbsp;
                                <span>DY Long</span>
                            </div>
                        </NavLink>
                    </li>
                    <li style="display:block; height:50px; position:relative;">
                        <NavLink class="menu-item" href="/edit" Match="NavLinkMatch.All" ActiveClass="menu-item-active">
                            <div class="item-text">
                                <i class="fa-solid fa-edit"></i>
                                &nbsp;
                                <span>Edit</span>
                            </div>
                        </NavLink>
                    </li>
                    
                </ul>
            </div>
            
            @*<div class="top-menu">
            <i class="fa-solid fa-bars"></i>
            </div>*@
        </div>

    @Body



</div>

<PopupAddItem/>

@code{

    string sidebarStatus = "sidebar-hide";

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += (o, e) =>
        {
            sidebarStatus = "sidebar-hide";
            StateHasChanged();
        };

        Burger.OnBurgerChange += state =>
        {
            sidebarStatus = state ? "sidebar-hide" : "";
            StateHasChanged();
        };
    }

    void BurgerClicked()
    {
        sidebarStatus = sidebarStatus == "sidebar-hide" ? "" : "sidebar-hide";
    }

}

